# Vim swap files
*.swp

# LaTeX compiled files
*.aux
*.log
*.synctex.gz
*.pdf
*.dvi
intermediate/*.xml
*.out
*.bbl
*.blg
*-blx.bib

# Java compiled files
callgraph/build
callgraph/com
callgraph/META-INF
